@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 7vh;
  --neutral: rgb(23 23 23);
}

body {
  overflow-x: hidden;
  background-color: var(--neutral);
  color: white;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--header-height);
  background-color: rgb(15 15 15);
}

main {
  min-height: 93vh;
}

footer {
  min-height: 5vh;
  background-color: rgb(15 15 15);
}

footer:first-child {
  color: white;
}

/* * HAMBURGERRRR * */
.hamburger-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 1rem;
  transition: all 500ms;
  --distance: 3px
}

.hamburger + div,
.hamburger + div + div {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 1rem;
  transition: all 500ms;
  --distance: 3px
}

.hamburger-active {
  gap: 0;
}

.top-active {
  rotate: 45deg;
  position: relative;
  top: var(--distance);
  scale: 1.1;
}

.middle-active {
  opacity: 0;
}

.bottom-active {
  rotate: -45deg;
  position: relative;
  bottom: var(--distance);
  scale: 1.1;
}

.nav-active {
  max-height: 1000px;
}

.header-active {
  position: sticky;
  top: 0;
}

.mobile-nav {
  background-color: rgb(15 15 15);
  position: fixed;
  top: var(--header-height);
}

/* FORM */
#contact-form {
  grid-template-columns: 0.5fr auto 3fr;
}


/* #contact-form > input:required ~ label::before {
  content: '*';
  color: rgb(239, 68, 68);
} */

/* input:invalid + p,
textarea:invalid + p,
#term-agreement:invalid + p {
  visibility: visible;
} */


input:valid + p,
textarea:valid + p,
#term-agreement:valid + p {
  visibility: hidden;
}