<!-- Desktop -->
<article>
  <a href="https://j-boardman.github.io/des520at3/index.html" class="flex gap-4 items-center">
    <img src="https://j-boardman.github.io/des520at3/images/logo.png" alt="logo" class="h-[5vh]" />
    <h1 class="text-3xl lg:text-5xl">ML STRENGTH</h1>
  </a>
</article>

<nav
  class="mobile-nav flex flex-col z-10 fixed items-center w-screen max-h-0 overflow-hidden transition-all md:hidden"
>
  <a class="w-screen text-center hover:bg-red-800 py-4" href="https://j-boardman.github.io/des520at3/index.html"
    >Home</a
  >
  <a
    class="w-screen text-center hover:bg-red-800 py-4"
    href="https://j-boardman.github.io/des520at3/html/about.html"
    >Our Philosophy</a
  >
  <a
    class="w-screen text-center hover:bg-red-800 py-4"
    href="https://j-boardman.github.io/des520at3//html/classes.html"
    >Classes</a
  >
  <a
    class="w-screen text-center hover:bg-red-800 py-4"
    href="https://j-boardman.github.io/des520at3/html/locations.html"
    >Locations</a
  >
  <a
    class="w-screen text-center hover:bg-red-800 py-4"
    href="https://j-boardman.github.io/des520at3/html/contact.html"
    >Contact Us</a
  >
</nav>

<!-- Mobile Navbar -->
<nav class="gap-8 hidden md:flex">
  <a
    class="text-md lg:text-xl hover:scale-105 transition-[400ms] hover:text-red-800"
    href="https://j-boardman.github.io/des520at3/index.html"
    >Home</a
  >
  <a
    class="text-md lg:text-xl hover:scale-105 transition-[400ms] hover:text-red-800"
    href="https://j-boardman.github.io/des520at3/html/about.html"
    >Our Philosophy</a
  >
  <a
    class="text-md lg:text-xl hover:scale-105 transition-[400ms] hover:text-red-800"
    href="https://j-boardman.github.io/des520at3/html/classes.html"
    >Classes</a
  >
  <a
    class="text-md lg:text-xl hover:scale-105 transition-[400ms] hover:text-red-800"
    href="https://j-boardman.github.io/des520at3/html/locations.html"
    >Locations</a
  >
  <a
    class="text-md lg:text-xl hover:scale-105 transition-[400ms] hover:text-red-800"
    href="https://j-boardman.github.io/des520at3/html/contact.html"
    >Contact Us</a
  >
</nav>

<section
  class="flex flex-col md:hidden items-center gap-1 cursor-pointer hamburger-wrapper"
>
  <div class="hamburger"></div>
  <div></div>
  <div></div>
</section>
